{% extends 'base.html' %}

{% block title %}Automatic Ticket Assingment{% endblock %}

{% block main %}

<div class="container">
  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal text-center">Issue Details</h4>
      </div>
      <div class="card-body">
        <form action="your-ticket" method="post">
          <label for="sd">Title</label>
          <input type="text" class="form-control" name="sd" id="sd" value="" required>
          <br>
          <p><label for="desc">Description</label></p>
          <textarea id="desc" name="desc" rows="8" cols="70" value="" required></textarea>
          <br>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Raise Issue</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% for message in get_flashed_messages() %}
  <div class="container text-center">
    <div class="p-3 mb-2 bg-success text-white">{{ message }}</div>
  </div>
  <br>
{% endfor %}

{% if codes %}
<h2>Previous tickets Assignments</h2>
<table>
  <caption>Prediction Details</caption>
<th>
  <td>Ticket Id</td>
  <td>Short Description</td>
  <td>Description</td>
  <td>Classification Text</td>
  <td>Orginal Assingment Proability</td>
  <td>Final Assingment Group</td>
</th>
  {% for code in codes %}
  <tr>
    <td>{{code.split('|<>|')[0]}}</td>
    <td>{{code.split('|<>|')[1]}}</td>
    <td>{{code.split('|<>|')[2]}}</td>
    <td>{{code.split('|<>|')[3]}}</td>
    <td>{{code.split('|<>|')[4]}}</td>
    <td>{{code.split('|<>|')[5]}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}




