{% extends 'base.html' %}

{% block title %}URL Shortener{% endblock %}

{% block main %}



<div class="container">
  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal text-center">Issue Details</h4>
      </div>
      <div class="card-body">
        <form action="your-ticket" method="post">
          <label for="sd">Title</label>
          <input type="text" class="form-control" name="sd" id="sd" value="" required>
          <br>
          <p><label for="desc">Description</label></p>
          <textarea id="desc" name="desc" rows="8" cols="70" value="" required></textarea>
          <br>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Raise Issue</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}


